{% extends 'photosapp/base.html' %}

{% block title %}Photoapp{% endblock %}

{% block project_name %}My Trove{% endblock %}

{% block content %}
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #F9E6F6;
            margin: 0;
            padding: 20px;
        }

        h2 {
            font-size: 16px;
            margin-bottom: 10px;
        }

        h1 {
            font-size: 24px;
            margin-bottom: 10px;
            /* color: #714778; */
        }

        .image-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        .image-card {
            width: 300px;
            background-color: #fff;
            margin: 10px;
            padding: 10px;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }

        .image-card h2 {
            /* margin-top: 100; */
            margin-top: auto; 
            font-size: 15px;
            color: gray;
        }

        .image-card img, .image-card video {
            width: 100%;
            height: auto;
            margin-bottom: 10px;
            
        }

        .download-button {
            display: inline-block;
            padding: 8px 16px;
            background-color: white;
            color: black;
            text-decoration: none;
            border-radius: 1px;
            border: 1px solid #EA63FF;
            font-weight: bold;
            transition: background-color 0.3s ease;
        }

        .download-button:hover {
            background-color: #9820AB;
            color: white;
        }

        .upload-button {
            display: inline-block;
            padding: 8px 16px;
            background-color: #9820AB;
            color: #fff;
            text-decoration: none;
            border-radius: 4px;
            font-weight: bold;
            transition: background-color 0.3s ease;
        }

        .title-holder{
            margin-left:93%;
            {% comment %} margin-bottom:20px; {% endcomment %}
        }

        video{
            max-height:300px;
        }
    </style>

    <div class="title-holder">
        
        <div><a class="upload-button" href="{% url 'upload' %}">Upload</a></div>
    </div>
    <div class="image-container">
        <!-- loop through all the images -->
        {% for pic in photo %}
        <div class="image-card">
            <h2>{{pic.title}}</h2>
            {% if pic.media.resource_type == "image" %}
            <img src="{{pic.media.url}}" alt="fish">
            {% else %}
            <video width="100%" controls>
                <source src="{{pic.media.url}}" type="video/mp4">
                Your browser does not support the video.
            </video>
            {% endif %}
            <a class="download-button" href="/api/media/download?resource_url={{pic.media.url}}" download>Download</a>
            <input type="hidden" name="delete_photo" value="{{ pic.photo_id }}">
                        <button type="submit">Delete</button>
                        <a class="uk-button uk-button-default uk-button-small" href="{% url 'delete' pic.pk %}">Delete</a>
        </div>
        {% endfor %}
    </div>
{% endblock %}
